@import './Pages//Main/mainPage.scss';



html, body {
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
  background: blue;
  width: 1440px;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
